/* Edit variables here to ensure timeline doesn't mess up */
:root {
    --timelineWidth: 5px;
    --timelineCircleWidth: 1.4em;
    --timeLineLeftMargin: 8%;
    --timelineItemHeight: 40%;
    --gapBetween: 10px;

    --textItemSize: 75%;
    --textTitleSize: 100%;
    --textBodySize: 85%;
}

.about-timeline-container {
    display: flex;
    margin: 0 0;
}

.about-timeline {
    height: 100%;
    width: 100%;
    position: relative;
    padding: 0;
}

.timeline-col {
    order: 2;
    margin-left: 1em;
}

/* The line of the timeline */
.about-timeline:before {
    content: '';
    width: var(--timelineWidth);
    height: calc(100%);
    background-color: var(--white);
    position: absolute;
    left: var(--timeLineLeftMargin);
    border-radius: 20px;
}

.about-timeline-item {
    width: calc(100% - var(--timeLineLeftMargin) * 2);
    height: var(--timelineItemHeight);
    margin-left: 8%;
    margin-bottom: 6%;
    position: relative;
    transform-origin: -0% 50%;
}

.about-timeline-item:nth-child(3) {
    margin-bottom: 0;
}

/* Dot on the timeline */
.about-timeline-item:before {
    content: '';
    border-radius: 50%;
    width: var(--timelineCircleWidth);
    height: var(--timelineCircleWidth);
    background-color: var(--white);
    position: absolute;
    top: calc(50% - var(--timelineCircleWidth)/2);
    left: calc(-0% - var(--timelineCircleWidth) / 2 + var(--timelineWidth)/2);
}

.about-timeline-item-container {
    text-align: left;
    border-radius: 10px;
    padding: 1em;
    color: var(--black);
    background-color: var(--white);
    width: calc(100% - var(--timelineCircleWidth) - var(--gapBetween));
    margin: 0 calc(var(--timelineCircleWidth) + var(--gapBetween));
}

.timeline-header {
    border-radius: var(--itemRadius);
    padding: 10px 4%;
    margin: 2px 0;
}

.about-timeline-item-role {
    font-weight: 500;
}

.about-timeline-item-company {
    font-weight: 900;
    cursor: pointer;
}

.timeline-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 25%;
    width: 4em;
    border-radius: var(--itemRadius);
    background-color: var(--black);
}

.about-timeline-item-logo {
    filter: grayscale();
    width: 100%;
    object-fit: cover;
    
}

.timeline-row {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2px;
}

.timeline-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.timeline-col div {
    width: 100%;
}

.timeline-item-desc li{
    font-size: var(--textBodySize);
    list-style-position: inside;
    padding: 3px 0;
}

.about-timeline-item-dates {
    padding: 5px 10px;
    background-color: var(--black);
    border-radius: var(--itemRadius);
    border: 1px solid var(--black);
    color: var(--white);
    font-size: var(--textItemSize);
    cursor: pointer;
    margin: 4px 2px;
}

.about-timeline-item-btn {
    padding: 5px 10px;
    background-color: var(--black);
    border-radius: 10px;
    border: 1px solid var(--black);
    color: var(--white);
    margin-left: auto;
    font-size: var(--textItemSize);
    cursor: pointer;
}

.about-timeline-item-btn:focus,
.about-timeline-item-btn:hover {
    background-color: var(--white);
    color: var(--black);
}

.about-timeline-item-bottom {
    display: flex;
    flex-wrap: wrap;
    margin: 4px 0;
}

.timeline-item-tags {
    background-color: var(--black);
    font-size: var(--textItemSize);
    padding: 5px 10px;
    margin: 2px;
    color: var(--white);
    border-radius: var(--itemRadius);
    border: 1px solid var(--black);
}

.hidden-timeline-date {
    display: none;
}

@media screen and (min-width: 768px) { 
    .hidden-timeline-date {
        display: initial;
        order: 3;
        margin-left: auto;
        margin-right: 2px;
        background-color: var(--black);
        font-size: var(--textItemSize);
        padding: 5px 10px;
        color: var(--white);
        border-radius: var(--itemRadius);
        border: 1px solid var(--black);
    }

    .timeline-row {
        justify-content: flex-start;
    }

    .timeline-col {
        order: 2;
        margin-left: 1em;
    }

    .about-timeline-item-dates {
        display: none;
    }
}
